h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 25px;
	margin-bottom: 28px;
	color: #436c11;
	transform: scale(1, 0.95);
	font-size:27px;
	text-align: center;
}

body{
	background-color: #ecf9dc;
}

canvas{	
	border-radius: 15px;
	border: 3px solid rgb(4, 75, 18);	
	display: block;
	margin: auto;
}

div{
	display:flex;
	justify-content: center;
	align-items:center;
	margin-top: 25px;		
}

button{
	margin: 0 15px;		
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color,border-color,color,box-shadow,filter;
	transition-duration: .3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: #fff;
	background-color: #15883e;
	height: 48px;
}
button:hover{
	background-color: #1db954;
}

